{% load static %}
<section id="billboard">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if books %}
					{% for book in books %}		
					<button class="prev slick-arrow">
						<i class="icon icon-arrow-left"></i>
					</button>
					<div class="main-slider pattern-overlay">
						<div class="slider-item"> 
							<div class="banner-content">
								<h2 class="banner-title">{{ book.title }}</h2>
								<p>{{ book.description }}</p>
								<div class="btn-wrap">
									<a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i
											class="icon icon-ns-arrow-right"></i></a>
								</div>
							</div><!--banner-content-->
							<img src="{{ book.image.url }}" alt="banner" class="banner-image">
						</div><!--slider-item-->
					</div><!--slider-->
					
					<button class="next slick-arrow">
						<i class="icon icon-arrow-right"></i>
					</button>
					{% endfor %}
				{% else %}
					asdasdasdas
				{% endif %}	
			</div>
		</div>
	</div>
</section>